<mat-card appearance="outlined" class="perfil-card">
  
  
  <mat-card-header>
    <div mat-card-avatar class="foto" style="background-image: url('turbo.JPEG');"></div>
    <mat-card-title>Gabriel Lima Albuquerque</mat-card-title>
    <mat-card-subtitle>17 anos</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p><strong>Hobby:</strong> Jogar </p>
    <p><strong>Comida favorita:</strong> Lasanha</p>
    <p><strong>Cor favorita:</strong> Azul Claro</p>
    <p><strong>Linguagem favorita:</strong> Python </p>
  </mat-card-content>
</mat-card>
